.cart-container {
  padding: 2rem;
  color: #e6edf3;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cart-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161b22;
  margin-bottom: 10px;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cart-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.cart-item-info h4 {
  font-size: 1.2rem;
  margin-bottom: 4px;
}

.cart-item-info p {
  font-size: 0.9rem;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quantity-controls button {
  padding: 6px 12px;
  background-color: #e6e8ec;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.quantity-controls button:hover {
  background-color: #cbd5e1;
}

.remove-btn {
  color: #f41800;
  font-weight: 500;
  font-size: large;
  cursor: pointer;
  border: none;
  background: none;
  transition: color 0.2s ease;
}

.remove-btn:hover {
  color: #c0392b;
}

.cart-summary {
  text-align: right;
  margin-top: 2rem;
}

.cart-total {
  font-size: 1.5rem;
  font-weight: bold;
  
}

.checkout-btn {
  margin-top: 1rem;
  padding: 12px 24px;
  font-size: 1rem;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  border: none;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.checkout-btn:hover {
  background: linear-gradient(to right, #00f2fe, #4facfe);
}
